/*Import font Ovo*/
@font-face {
  font-family: ovo;
  src: url(fonts/Ovo-Regular.ttf);
}

/*Import font Raleway*/
@font-face {
  font-family: raleway;
  src: url(fonts/Raleway-VariableFont_wght.ttf);
}

@font-face {
  font-family: ralewaybold;
  src: url(fonts/Raleway-SemiBold.ttf);
}

html {
  position: relative;
  min-height: 100%;
}

body {
  background-color: #F4F4F4;
  margin: 0 0 100px;
  padding-bottom: 200px;
}

/*Header*/
h1 {
  color: black;
  text-align: center;
  font-size: 42px;
  font-family: ovo;
  margin-top: 50px;
}

hr {
  border-bottom: 2px solid black;
  width: 25%;
}

/*Body text*/
p, td {
  color: black;
  font-size: 20px;
  font-family: raleway;
}

td {
  padding-bottom: 18px;
  text-align: start;
}

.boldparagraphtext {
  font-family: ralewaybold;
}


/*---------------------------------------Footer------------------------------------------------*/

footer {
  background-color: #3B3939;
  position: absolute;
  left: 0;
  bottom: 0;
  height: 190px;
  width: 100%;
  overflow: hidden;
}

.fot {
  display: flex;
  margin-left: 10px;
}

.firsttextfot {
  font-size: 18px;
  color: white;
  width: 40%;
}

.textfot {
  margin-left: 15%;
  width: 25%;
}

.footertext {
  color: white; 
  font-family: raleway;
  font-size: 18px;
  margin-top: 5px; 
  margin-bottom: 5px;
}

.footertextheader {
  font-family: ralewaybold;
  color: white; 
  font-size: 18px;
}

.footerlinks {
  text-decoration: none; 
  font-family: raleway;
  color: white; 
  font-size: 18px;
}

#footermaplink {
  color: lightblue;
}

/*---------------------------------------------------------------------------------------------*/

.instagramlogo {
  margin-top: 5px;
  width: 30px; 
  margin-right: 10px;
}

.facebooklogo {
  margin-top: 5px;
  width: 30px;
}

.lunchday {

  font-family: ralewaybold; 
  padding-right: 80px;
}

#reserve_table_button {

  width: 25%;
  height: 50px;
  margin-top: 50px;
  margin-left: auto;
  margin-right: auto;
  display: block;
}

/*p tag*/
.menucategory {

  text-align: center;
}

.foodcat {

  margin: auto;
  width: 35%;
}

.logo {
  width: 200px;
  margin-left: 10px;
  transition: 0.3s;
}

.logo:hover {

  width: 205px;
  transition: 0.3s;
}

.foodpic {
  width: 40%;
  border: 2px solid black;
}

.slideshow {
  text-align: center;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

/*-----------------------------Menu----------------------------------------*/
nav {
  background-color: #3B3939;
  /*position: fixed;*/
  top: 0;
  left: 0;
  height: 80px;
  width: 100%;
  display: flex;
  align-items: center;
}

ul {
  list-style-type: none;
  margin-left: auto;
  display: flex;
  margin-right: 40px;
}

u li {
  margin-left: 20px;
}

li a {
  display: block;
  color: white;
  font-size: 20px;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

a {
  transition: 0.3s;
}

a:hover {
  color: #d8d8d8;
}

.active {
  color: #77C6FF;
}

/*-------------------------------------------------------------------------*/

#omoss {

  margin: auto;
  align-content: center;
  text-align: center;
  width: 60%;
}

.contact {

  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.contactfrom {
  display: inline-block;
  padding: 10px;
  width: 40%;
}

.info {
  display: inline-block;
  padding: 10px;
  text-align: left;
}


.bookingfrom {
  padding: 10px;
  width: 70%;
  margin-left: auto; 
  margin-right: auto; 
  display: block;
}

#booktablebutton {

  width: 50%; 
  height: 50px; 
  margin-left: auto; 
  margin-right: auto; 
  display: block;
}



/*-----------------------------Form-------------------------------*/
form {
  width: 70%;
  margin-left: auto; 
  margin-right: 0;
}

input{
  width: 100%;
  padding: 12px;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
  margin-top: 6px;
  margin-bottom: 16px;
  resize: vertical;
}

input[type=submit], #reserve_table_button {
  background-color: #AFA08D;
  color: white;
  padding: 10px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  font-family: raleway;
  font-size: 24px;
}

input[type=submit]:hover, #reserve_table_button:hover{
  background-color: #998d7c;
}

textarea {
  width: 100%;
  height: 100px;
  padding: 12px;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
  margin-top: 6px;
  margin-bottom: 16px;
  resize: vertical;
}
/*------------------------------------------------------------------*/



@media only screen and (max-width: 1000px) {
  body {
    background-color: lightblue;
  }

  nav {
    background-color: #3B3939;
    /*position: fixed;*/
    top: 0;
    left: 0;
    height: 80px;
    width: 100%;
    display: flex;
    align-items: center;
  }
  
  ul {
    list-style-type: none;
    margin-left: auto;
    display: flex;
    margin-right: 40px;
  }
  
  u li {
    margin-left: 20px;
  }
  
  li a {
    display: block;
    color: white;
    font-size: 20px;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  }
  
  a {
    transition: 0.3s;
  }
  
  a:hover {
    color: #d8d8d8;
  }
  
  .active {
    color: #77C6FF;
  }


  .contact {

    width: 100%;
  }
  
  .contactfrom {

    width: 100%;
  }
  
  .info {

    width: 100%;
    text-align: left;
  }
}




